<footer>
  <div id="mc_embed_signup">
    <form
      action="https://klopaphere.us19.list-manage.com/subscribe/post?u=162f30dcb4877e5cb9dd88912&amp;id=2d55889da2"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate
    >
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">🧻 Sign-Up for Beta</label>
        <input
          style="margin-top: 10px"
          type="email"
          value=""
          name="EMAIL"
          class="email"
          id="mce-EMAIL"
          placeholder="email address"
          required
        />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input
            type="text"
            name="b_162f30dcb4877e5cb9dd88912_2d55889da2"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="clear">
          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button"
          />
        </div>
      </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
  <p class="footerText">
    Made by {% if site.your_link %}<a href="{{ site.your_link }}"
      >{% endif %}{{ site.your_name }}{% if site.your_link %}</a
    >{% endif %}{% if site.your_city %} in {{ site.your_city }}{% endif %}
  </p>
  <div class="footerIcons">
    {% if site.facebook_username %}
    <a href="https://facebook.com/{{ site.facebook_username }}">
      <span class="fa-stack fa-1x">
        <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
        <i class="socialIconTop fab fa-facebook fa-stack-1x"></i>
      </span>
    </a>
    {% endif %} {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa-stack fa-1x">
        <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
        <i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
      </span>
    </a>
    {% endif %} {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
      <span class="fa-stack fa-1x">
        <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
        <i class="socialIconTop fab fa-github fa-stack-1x"></i>
      </span>
    </a>
    {% endif %} {% if site.email_address %}
    <a href="mailto:{{ site.email_address }}">
      <span class="fa-stack fa-1x">
        <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
        <i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
      </span>
    </a>
    {% endif %}
  </div>
  <div class="footerLinks">
    {% for page in site.pages %}
    <a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a>
    {% endfor %} {% if site.presskit_download_link %}
    <a href="{{ site.presskit_download_link }}">Press Kit</a>
    {% endif %}
  </div>
</footer>
